VITE_API_URL=http://localhost:8080/api/v1
VITE_IDENTITY_ISSUER=http://localhost:8081
VITE_IDENTITY_CLIENT_ID=default-web
VITE_IDENTITY_REDIRECT_URI=http://localhost:4200/auth/callback
VITE_IDENTITY_RESOURCE=default-api
VITE_IDENTITY_SCOPE=openid profile email
